<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <h1>You found the secret page!</h1>
        <img src="https://i.ytimg.com/vi/VCEb0vi3iY4/maxresdefault.jpg" style="width:500px;height:300px;"></img>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6ljFaKRTrI?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <a href = "/index">Click here to return to the main page</a>
        
    </body>
</html>